{% extends 'profile/base/base.html' %}
{% load static %}
{% load mptt_tags %}


{% block content %}

        <!-- Content Body Start -->
        <div class="content-body">

            <!-- Page Headings Start -->
            <div class="row justify-content-between align-items-center mb-10">

                <!-- Page Heading Start -->
                <div class="col-12 col-lg-auto mb-20">
                    <div class="page-heading">
                        <h3>Referral <span>/ Team</span></h3>
                    </div>
                </div><!-- Page Heading End -->

            </div><!-- Page Headings End -->


         <h3 class="title" ><a href="https://meekbroker.com/signup/{{ aff_code }}" id="myText" >https://meekbroker.com/signup/{{ aff_code }}</a></h3><br>
         <button onclick="copyContent()" class="button button-primary">Copy referral link!</button>

                            <script>
                              let text = document.getElementById('myText').innerHTML;
                              const copyContent = async () => {

                                try {
                                  await navigator.clipboard.writeText(text);
                                  console.log('Content copied to clipboard');
                                  alert("Successfully Copied!");

                                } catch (err) {
                                  console.error('Failed to copy: ', err);
                                }
                              }
                            </script>


        <br>
        <br>


{#  <ul class="root">#}
{#    {% recursetree family %}#}
{#        <li>#}
{#            {{ node.account }}#}
{#            {% if not node.is_leaf_node %}#}
{#                <ul class="children">#}
{#                    {{ children }}#}
{#                </ul>#}
{#            {% endif %}#}
{#        </li>#}
{#    {% endrecursetree %}#}
{#</ul>#}

 <!-- Page Heading Start -->
                <div class="col-12 col-lg-auto mb-20">
                    <div class="page-heading">
                        <h3>My Team Member</h3>
                    </div>
                </div><!-- Page Heading End -->

            {% recursetree total_downlines %}
                <li>
                    <span {{ node.id }} style="font-size: 20px"><strong style="color: #0bb7ff">Username:</strong> {{ node.account }}<br>
                        {% if node.account.email %}
                        Email: {{ node.account.email }}
                        {% endif %}
                    </span>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            <em><span>{{ children }}</span></em>
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}





        </div><!-- Content Body End -->
{% endblock %}