{% extends 'profile/base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

        <!-- Content Body Start -->
        <div class="content-body">

            <!-- Page Headings Start -->
            <div class="row justify-content-between align-items-center mb-10">

                <!-- Page Heading Start -->
                <div class="col-12 col-lg-auto mb-20">
                    <div class="page-heading">
                        <h3>Investment Scheme <span>/ Choose the plan</span></h3>
                    </div>
                </div><!-- Page Heading End -->

            </div><!-- Page Headings End -->
        <!--Form Size Start-->
                <div class="col-12 mb-30">
                    <div class="box">

                        <form action="" method="post">
                            {% csrf_token %}

                            {% if messages %}
                        {% for message in messages %}
                            {% if 'success' == message.tags %}
                                <ul class="alert alert-success" style="list-style: none;">
                                <li><strong style="color: #23de06">{{ message }}</strong></li>
                                </ul>

                                {% elif 'error' == message.tags %}
                                <ul class="alert alert-danger" style="list-style: none;">
                                <li><strong style="color: #de063f">{{ message }}</strong><br> <strong style="color: #0bb7ff">Please, <a href="/coin-list/">Deposit Funds.</a> </strong></li>
                                </ul>

                            {% endif %}
                        {% endfor %}
                         {% endif %}

                        <div class="box-body">
                            <div class="row mbn-20">
                                <!--Default Field-->
                                <div class="col-lg-4 col-12 mb-20">
                                    <div class="row mbn-15">
                                        <div class="col-12 mb-15">
                                            <label>Amount</label>
                                            {{ form.amount|add_class:"form-control" }}
                                        </div>
                                        <div class="col-12 mb-15">
                                            <label>Your Plan</label>
                                                {{ form.scheme|add_class:"form-control" }}
                                        </div>

                                    </div><br>
                                    <div class="foot text-center">
                                    <button class="button button-primary">Invest Now</button>
                                         </div>
                                </div>
                                <!--Default Field-->

                            </div>
                        </div>
                            </form>
{#                        <div class="box-foot">#}
{#                            <p>Control Size using classes like <code>.form-control-sm or .form-control-lg</code> classes.</p>#}
{#                        </div>#}
                    </div>
                </div>
                <!--Form Size End-->

        <!-- Pricing Four Start -->
            <h3 class="text-center mb-35">MKB Coin Investment Package</h3>
            <div class="row justify-content-center ">

                <div class="pricing-four col-xlg-3 col-md-6 col-12 mb-30">
                    <div class="inner">

                        <div class="head" style="background-image: url(assets/images/bg/pricing-four-head-1-bg.jpg)">
                            <div class="left">
                                <div class="icon"><img src="assets/images/icons/pricing-four-1.png" alt=""></div>
                                <h4 class="title">Free</h4>
                            </div>
                            <div class="right">
                                <h1 class="price">$00.00</h1>
                            </div>
                        </div>

                        <div class="body">
                            <ul>
                                <li>
                                    <h5>Disk Space 10GB</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li>
                                    <h5>Free Online Support</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li>
                                    <h5>1 Free Domain</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li>
                                    <h5>7 Days Return</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                            </ul>
                        </div>

                        <div class="foot text-center">
                            <button class="button button-outline button-success">Choose Plan</button>
                        </div>

                    </div>
                </div>

                <div class="pricing-four col-xlg-3 col-md-6 col-12 mb-30">
                    <div class="inner">

                        <div class="head" style="background-image: url(assets/images/bg/pricing-four-head-2-bg.jpg)">
                            <div class="left">
                                <div class="icon"><img src="assets/images/icons/pricing-four-2.png" alt=""></div>
                                <h4 class="title">Basic</h4>
                            </div>
                            <div class="right">
                                <h1 class="price">$36.00</h1>
                            </div>
                        </div>

                        <div class="body">
                            <ul>
                                <li>
                                    <h5>Disk Space 20GB</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li>
                                    <h5>Free Online Support</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li>
                                    <h5>2 Free Domain</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li>
                                    <h5>15 Days Return</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                            </ul>
                        </div>

                        <div class="foot text-center">
                            <button class="button button-outline button-success">Choose Plan</button>
                        </div>

                    </div>
                </div>

                <div class="pricing-four col-xlg-3 col-md-6 col-12 mb-30">
                    <div class="inner">

                        <div class="head" style="background-image: url(assets/images/bg/pricing-four-head-3-bg.jpg)">
                            <div class="left">
                                <div class="icon"><img src="assets/images/icons/pricing-four-3.png" alt=""></div>
                                <h4 class="title">Pro</h4>
                            </div>
                            <div class="right">
                                <h1 class="price">$50.00</h1>
                            </div>
                        </div>

                        <div class="body">
                            <ul>
                                <li>
                                    <h5>Disk Space 30GB</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li>
                                    <h5>Free Online Support</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li>
                                    <h5>5 Free Domain</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li>
                                    <h5>30 Days Return</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                            </ul>
                        </div>

                        <div class="foot text-center">
                            <button class="button button-outline button-success">Choose Plan</button>
                        </div>

                    </div>
                </div>

                <div class="pricing-four col-xlg-3 col-md-6 col-12 mb-30">
                    <div class="inner">

                        <div class="head" style="background-image: url(assets/images/bg/pricing-four-head-4-bg.jpg)">
                            <div class="left">
                                <div class="icon"><img src="assets/images/icons/pricing-four-4.png" alt=""></div>
                                <h4 class="title">Pro+</h4>
                            </div>
                            <div class="right">
                                <h1 class="price">$90.00</h1>
                            </div>
                        </div>

                        <div class="body">
                            <ul>
                                <li>
                                    <h5>Disk Space 50GB</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li>
                                    <h5>Free Online Support</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li>
                                    <h5>10 Free Domain</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                                <li>
                                    <h5>60 Days Return</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                                </li>
                            </ul>
                        </div>

                        <div class="foot text-center">
                            <button class="button button-outline button-success">Choose Plan</button>
                        </div>

                    </div>
                </div>

            </div><!-- Pricing Four End -->


        </div><!-- Content Body End -->
{% endblock %}