{% extends 'profile/base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

        <!-- Content Body Start -->
        <div class="content-body">

           <div class="main-wrapper">

        <!-- Content Body Start -->
        <div class="content-body m-0 p-0">

            <!--Error Start-->
            <div class="error-wrap-2">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="error-content col-lg-6 col-md-8 col-12 ml-auto">
                            <span class="display-1">404</span>
                            <h1 class="title">Loks like you are lost</h1>
                            <h4>The link is invalid that you have entered earlier. It may others error that is not familiar with you.</h4>
                            <a href="/dashboard/" class="button button-secondary button-round">Back to Dashboard</a>
                        </div>

                    </div>
                </div>
            </div>
            <!--Error End-->

        </div><!-- Content Body End -->


        </div><!-- Content Body End -->
{% endblock %}